@media (max-width: 767.99px) {
    .login-panel {
        border-radius: 35px 35px 35px 35px !important;
    }
    
    
}

body {
    background: linear-gradient(to bottom right, #E8F6F8, #B6DDE0, #74B2C8);
    height: 100vh;
    margin: 0;
    background-attachment: fixed;
}

input[type="text"], input[type="email"], input[type="date"],input[type="file"],input[type="password"],select{
    background-color: #e4eaeb !important;
}

.table {
    background-color:#e3edf7;
    border-radius: 8px;
    overflow: hidden; 
    /* overflow: hidden; --->>>Ensures rounded corners apply properly */
}

.table thead {
    background-color: #076a80;
    color:white;
}